<div class="container-fluid" id="hero-header">
	<div class="row">
		<div class="col-md-4" id="hero-msg">
			<%= image_tag("logo_lg.png", class: "img-fluid", width: "80%") %>
			<p>Your source for great coffee in Berlin.</p>
		</div>
		<div class="col-md-8" id="hero-img">
			<%= image_tag("lovecoffee.jpg", class: "img-fluid") %>
		</div>
	</div>
</div>

<div class="container" id="product-reel">
	<%= image_tag(@featured_product.image_url, class: "image-fluid", width: "300px") %>
	<p><strong><%= link_to @featured_product.name.upcase, @featured_product %></strong></p>
	<p><%= @featured_product.variety %></p>
</div>