  <h1>All Orders</h1>

  <div class="container-fluid">
    <div class="row">
      <div class="col-2">
        <strong>Order ID</strong>
      </div>
      <div class="col-3">
        <strong>Product Name</strong>
      </div>
      <div class="col-2">
        <strong>Order Qty</strong>
      </div>
      <div class="col-2">
        <strong>Item Price</strong>
      </div>
      <div class="col-2">
        <strong>Total Price</strong>
      </div>
    </div>
    <div class="row">
    <% @orders.each do |order| %>
      <div class="col-2">
        <%= order.id %>
      </div>
      <div class="col-3">
        <%= order.product.name %>
      </div>
      <div class="col-2">
        <%= order.quantity %>
      </div>
      <div class="col-2">
        <%= order.product.display_price %>€
      </div>
      <div class="col-2">
        <%= '%.2f' % (order.quantity * order.product.price) %>€
      </div>
      <div class="col-1">
        <%= link_to 'Show', order_path(order) %>
      </div>
    <% end %>
    </div>
  </div>