<h1>Order Summary</h1>

<div class="row">
  <div class="col-3 col-md-2">
    <p>Order Ref#:</p>
  </div>
  <div class="col-6 col-md-4">
    <p>berlincoffee-<%= @order.id %></p>
  </div>
</div>
<div class="row">
  <div class="col-3 col-md-2">
    <p>Order Date:</p>
  </div>
  <div class="col-6 col-md-4">
    <p><%= @order.created_at.strftime(" %d.%m.%Y") %></p>
  </div>
</div>
<div class="row">
  <div class="col-3 col-md-2">
    <p>Customer:</p>
  </div>
  <div class="col-6 col-md-4">
    <p><%= @order.user.first_name + " " + @order.user.last_name %></p>
  </div>
</div>
<div class="row">
  <div class="col-3 col-md-2">
    <p>Status:</p>
  </div>
  <div class="col-6 col-md-4">
    <p><%= @order.status %></p>
  </div>
</div>
<div class="row">
  <div class="col-3 col-md-2">
    <p>Total:</p>
  </div>
  <div class="col-6 col-md-4">
    <p><%= number_to_euro @order.total_price %></p>
  </div>
</div>


  <table class="table table-borderless">
    <thead>
      <tr>
        <th scope="col">Img</th>
        <th scope="col">Product</th>
        <th class="text-right" scope="col">Unit Price</th>
        <th scope="col">Quantity</th>
        <th class="text-right" scope="col">Total Price</th>
      </tr>
    </thead>
    <tbody>
      <% @order.order_items.each do |item| %>
      <tr>
        <td>  
          <div class="product-img">
            <%= image_tag(item.product.image_url) %>
          </div>
        </td>
        <td><%= item.product.name %></td>
        <td class="text-right"><%= number_to_euro item.product.price %></td>
        <td><%= item.quantity %></td>
        <td class="text-right"><%= number_to_euro  (item.product.price * item.quantity) %></td>
      </tr>
      <% end %>
      <tr>
        <td class="text-right" colspan="5"><strong><p>Order Total: <%= number_to_euro @order.total_price %></p></strong></td>
      </tr>
    </tbody>
  </table>
  <div class="row">
    <div class="col-sm-6">
      <%= button_to "Continue Shopping", products_path, method: :get,  class: "submit-btn" %>
    </div>
  </div>
  