<h1>Order Details:</h1>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm">
      <h2>
        Order # <%= @order.id %>:
        <%= link_to @order.product.name, @order %>
      </h2>
      <p><%= @order.product.description %></p>
      <p><%= @order.product.variety %></p>
      <p><%= @order.product.display_price %>€</p>
      <p><%= @order.quantity %>items</p>
      <p>Total Price:<%= '%.2f' % @total %>€</p>
    </div><!-- end col -->
  </div><!-- end row -->
</div>


  