<div class="col-sm-12 col-md-6 col-lg-4">
  <div class="product-img">
  <% cache product do %>
    <%= link_to (image_tag(product.image_url)), product %>
  </div>
  <div class="product-info">
    <div class="row">
      <div class="col-7">
        <p><strong><%= product.name.upcase %></strong></p>
      </div>
      <div class="col-5">
        <% if product.comments != [] %>
          <p class="stars rated" data-score="<%= product.average_rating %>"></p>
        <% end %>
      </div>
    </div>
    <p><%= product.description %></p>
    <p><%= product.variety %></p>
    <div class="row">
      <div class="col">
        <p><%= product.size %>g</p>
      </div>
      <div class="col">
        <p class="text-right"><%= number_to_euro product.price %></p>
      </div>
    </div>
  </div>
  <div class="product-buttons">
    <% if can? :manage, Product %>
      <p><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></p>
      <p class="v-line"><%= link_to 'Edit', edit_product_path(product) %></p>
      <p class="v-line"><%= link_to 'Show', product %></p>
    <% end %>
  <% end %>
  </div>
</div><!-- end col -->