<div class="container-fluid">
  <div class="row justify-content-between">
    <div class="col-3">
      <% if @products.index(@product) > 0 %>
        <%= link_to 'Prev <<', @prev_product %>
      <% end %>
    </div>
    <div class="col-3">
      <% if @products.index(@product) < (@products.length - 1) %>
        <%= link_to '>> Next', @next_product, class: "next-button" %>
      <% end %>
    </div>
  </div>
  <div class="row"> <!-- outer row -->
    <div class="col-12 col-md-4"> <!-- 2nd col -->
        <div class="product-img">
          <%= image_tag(@product.image_url, class: "img-zoom", data_zoom_image: @product.image_url ) %>
        </div>
    </div> <!-- end 2nd col -->
    <div class="col-12 col-md-8"> <!-- 3rd col -->
      <div class="product-info-show">
        <div class="row"> <!-- inner row 1 -->
          <div class="col-7">
            <p><strong><%= @product.name.upcase %></strong></p>
          </div>
          <div class="col-5">
            <% if @product.comments != [] %>
              <p class="stars rated" id="average-rating" data-score="<%= @product.average_rating %>"></p>
            <% end %>
          </div>
        </div> <!-- end inner row 1 -->
        <div class="row"> <!-- inner row 2 -->
          <div class="col">
            <p><%= @product.description %></p>
            <p><strong>Variety: </strong><%= @product.variety %></p>
          </div>
        </div><!-- end inner row 2 -->
        <div class="row"><!-- inner row 3 -->
          <div class="col">
            <p><strong>Package size: </strong><%= @product.size %>g</p>
          </div>
          <div class="col">
            <p class="text-right"><%= number_to_euro @product.price %></p>
          </div>
        </div> <!-- end inner row 3 -->
        <div class="row"> <!-- inner row 4 -->
          <div class="col-6 offset-6">
            <%= form_for @order_item do |f| %>
            <div class="form-inline my-2 my-lg-0">
              <div class="form-group">
                <%= f.hidden_field :product_id, value: @product.id %>
                <%= f.number_field :quantity, class: "form-control form-control-sm mr-sm-2" %>
                <%= f.submit "Add to Cart", class: "btn btn-sm " %>
              </div>
            </div>
            <% end %>
          </div>
        </div><!-- end inner row 4 -->
        <!-- <div class="row"> --> <!-- inner row 5 -->
          <!-- <div class="col-6 offset-6"> -->
            <%#= form_with(url: '/payments/create') do |f| %>
              <%#= render partial: "shared/stripe_checkout_button" %>
            <%# end %>
          <!-- </div>
        </div> --><!-- end inner row 5 -->
      </div>
    </div> <!-- end 3rd col -->
  </div> <!-- end outer row -->
  <div class="review-section">
    <%= render "new_comment" %>
    <div id="product-comments">
      <%= render "comments" %>
    </div>
  </div>

</div> <!-- end container -->


  
  