<div class="container-fluid">
  <div class="row"> <!-- outer row -->
    <div class="col-11 col-md-4"> <!-- 1st col -->
        <div class="product-img">
          <%= image_tag(@product.image_url, class: "image-fluid") %>
        </div>
    </div> <!-- end 1st col -->
    <div class="col-11 col-md-7"> <!-- 2nd col -->
      <div class="product-info-show">
        <div class="row"> <!-- inner row 1 -->
          <div class="col-7">
            <p><strong><%= @product.name.upcase %></strong></p>
          </div>
          <div class="col-5">
            <% if @product.comments != [] %>
              <p class="stars rated" data-score="<%= @product.average_rating %>"></p>
            <% end %>
          </div>
        </div> <!-- end inner row 1 -->
        <div class="row"> <!-- inner row 2 -->
          <div class="col">
            <p><%= @product.description %></p>
            <p><strong>Variety: </strong><%= @product.variety %></p>
          </div>
        </div><!-- end inner row 2 -->
        <div class="row"><!-- inner row 3 -->
          <div class="col">
            <p><strong>Package size:</strong></p>
            <p class="qty"><%= @product.size %>g</p>
          </div>
          <div class="col">
            <p class="price"><%= @product.display_price %>€</p>
          </div>
        </div> <!-- end inner row 3 -->
      </div>
    </div> <!-- end 2nd col -->
    <div class="col-1 align-self-center"><!-- 3rd col -->
      <p class="next-button">
        <% if @products.index(@product) < (@products.length - 1) %>
          <%= link_to '>> Next', @next_product %>
        <% end %>
      </p>
    </div><!-- end 3rd col -->
  </div> <!-- end outer row -->
    <div class="product-comments">
      <%= render "new_comment" %>
      <%= render "comments" %>
    </div>

</div> <!-- end container -->


  
  